.foodtitle{
    font-size: 40px;
    margin: -0.5% 0;
    text-transform: uppercase;
}
.foodtitle::before{
    content: 'hello';
    background-color: black;
    color: white;
}
.foodtitle::after{
    content: 'hello';
    background-color: black;
    color: white;
}
.mainitem{
    background-color: black;
    gap: 5%;
    padding: 0 5%;
    padding-bottom: 5%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.subitem{
    cursor: pointer;
    margin-top: 5%;
    border-radius: 10%;
    padding: 10px;
    background-image: url(../images/momos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    box-shadow: 0px 0px 20px black;
    height: 12vw;
    width: 12vw;
}