*{
    scroll-behavior: smooth;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
  
    height: 100%;
    width: 100%;
}
.front{
  background-image: linear-gradient(rgba(255,255,255,0.3),rgba(255, 255, 255,0.3)),url(../images/bgwebfinal.jpg);
  background-position: center;
  background-size: cover;
    padding-top: 10%;
    padding-bottom: 11%;
}
.tagline{
    margin-left: 10%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    background-color: aquamarine solid 2px;
}
.logo{
    float: left;
    margin-top: -20px;
    margin-left: 12%;
    height: 15vw;
    width: 15vw;
    border-radius: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    background-image: url(../images/biglogoblack.png);
    box-shadow: 10px 10px 20px black;
    transition: background-image ease-in-out 500ms;
}
.logo:hover{
    background-image: url(../images/logowhite.jpg);
    background-position: center;
}
.text{
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Black Ops One', cursive;
}
.some img{
    float: right;
    width: 35%;
    margin-top: -36%;
    box-shadow: 10px 10px 20px black;
}
.order{
    width: 60%;
    gap: 10%;
    margin-top: 8%;
    text-transform: uppercase;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.waytoorder{
    cursor: pointer;
    padding: 2%;
    border-radius: 25px;
    margin-top: 10px;
    font-size: 100%;
    text-transform: uppercase;
    background-color: black;
    font-family: 'Black Ops One', cursive;
    color: white;
    transition: background-color color text-decoration ease-in-out 500ms;
}
.waytoorder:hover{
    background-color: #f2f2f2;
    color:black;
    text-decoration: underline;
}
.waytoorder a{
  text-decoration: none;
  color:white;
}
.waytoorder:hover a{
  background-color: #f2f2f2;
  color:black;
  text-decoration: underline;
}
.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
  }
  #myForm{
    box-shadow: 0px 0px 0px 10px white,
                0px 0px 0px 20px black,
                0px 0px 0px 100vw rgba(0,0,0,0.5);
  }
  .form-container {
    text-transform: uppercase;
    font-family: 'Black Ops One', cursive;
    max-width: 60vw;
    padding: 10px;
    background: rgb(128,0,32);
background: radial-gradient(circle, rgba(128,0,32,1) 0%, rgba(0,0,0,1) 100%);
  }
  .formtext{
    margin-bottom: 5%;
    font-size: 50px;
    text-align: center;
    background-image: url(../images/beans.jpg);
    background-position: top;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.label{
  font-size: 30px;
  color:white;
}
  .form-container input[type=text], .form-container input[type=number]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  .form-container input[type=text]:focus , .form-container input[type=number]{
    background-color: #ddd;
    outline: none;
  }
  .form-container .btn{
    font-size: 25px;
    margin-left: 50%;
    border-radius: 25px;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-family: 'Black Ops One', cursive;
    color: black;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    margin-bottom:10px;
    opacity: 1;
  }
  .form-container .cancel{
    margin-top: 0%;
  }
  .form-container .btn:hover{
    background-color: white;
    background-image: none;
    border: black solid 2px;
    color: black;
    text-decoration: underline;
  }
  footer{
    border-top: 2px solid white;
    background-color: black;
    color:white;
    height: 10%;
    padding: 5%;
}
#creator{
    font-family: 'Black Ops One', cursive;
    text-align: center;
}